
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@100;300;400;500;600;700&display=swap');

:root {
  color-scheme: light dark;
  /* both supported */
  --background-color: #F8F8F8;
  --c1: #0969DA;
  /* dark accent */
  --c2: #FEDC3D;
  /* light accent */
  --c3: #004da5;
  --c4: #EEC200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242526;
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto 0px;
  padding: 0px;
  font-family: 'Gotham Narrow';
  font-weight: 300;
  font-size: 13pt;
  transition: 0.3s;
  color: black;
  background-color: var(--background-color);
}

body.dark-theme {
  color: #CCC;
  background-color: var(--background-color);
}

b {
  /* Format all bolds */
  font-family: 'Gotham';
  font-weight: 500;
}

p {
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
}

@media screen and (min-width: 600px) {
  p {
    text-align: justify;
  }
}

div.main {
  margin: 0 auto;
  width: 95%;
  max-width: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
}

div.pre-main {
  padding-left: 18px;
  padding-right: 5px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 16px;
  font-size: 45pt;
  font-weight: 300;
  font-family: 'Gotham';
}

h2 {
  font-size: 36pt;
  padding-bottom: 15px;
  padding-top: 110px;
  color: var(--c1);
  font-family: 'Gotham';
  font-weight: 500;
}

body.dark-theme h2 {
  color: var(--c2);
}

h3 {
  font-size: 26px;
  margin-top: 45px;
  padding-top: 2px;
  padding-bottom: 10px;
  border-bottom: #222 0.75px solid;
  font-family: 'Gotham';
  font-weight: 500;
}
body.dark-theme h3 {
  border-bottom: #DDD 0.75px solid;
}

h3 span {
  color: #333;
  font-size: 17pt;
  font-family: 'Gotham Narrow';
  font-weight: 300;
  padding-bottom: 2px;
  display: inline-block;
}

body.dark-theme h3 span {
  color: #bbb;
}

h4 {
  margin-top: 35px;
  font-weight: 300;
  font-size: 18pt;
}

a {
  color: var(--c1);
  cursor: pointer;
  transition: all 0.8s ease 0s;
  text-decoration: underline 1px;
}
a:hover {
  color: var(--c3);
  text-decoration: underline 1.5px;
}

body.dark-theme a {
  color: var(--c2);
  cursor: pointer;
}
body.dark-theme a:hover {
  color: var(--c4);
}

ul {
  list-style: none;
}

#header {
  display: none;
}

@media screen and (min-width: 600px) {
  #header {
    display: inline-block;
    background-color: inherit;
    opacity: 0.95;
    margin: 0px;
    padding: 0px;
    z-index: 20;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.6s;
    max-height: 0px;
    overflow-y: hidden;
  }
}

div.post-header {
  margin: 0 auto;
  width: 95%;
  max-width: 800px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13pt;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

div.post-header a {
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 17px;
  color: #222;
  transition: all 0.3s ease 0s;
}

body.dark-theme div.post-header a {
  color: #DDD;
}

div.post-header a:hover {
  color: var(--c1);
}

body.dark-theme div.post-header a:hover {
  color: var(--c2);
}

div.post-header a.head-first {
  font-family: 'Gotham';
  font-weight: 500;
  font-size: 14pt;
  line-height: 20px;
  margin-left: 0px;
}


input {
  width: 75%;
  margin-top: 20px;
  margin-right: 3px;
  padding: 7px;
  background-color: white;
  border: 1px solid #CCC;
  border-radius: 6px;
  font-size: 13.5pt;
  transition: 0.5s;
  font-family: 'Gotham Narrow';
  font-weight: 300;
  color: black;
}

input:hover {
  border: 1px solid var(--c1);
}

body.dark-theme input {
  border: 1px solid #666;
  background-color: black;
  color: white;
}

body.dark-theme input:hover {
  border: 1px solid var(--c2);
}


#btn-toggle {
  margin-bottom: 20px;
}
#btn-toggle a {
  text-decoration: none;
}

#btn-toggle a div {
  color: #CCC;
  font-size: 18pt;
  display: inline;
  vertical-align: middle;
  transition: all 0.3s ease 0s;
  border: solid 1px #DDD;
  border-radius: 40px;
  padding: 8px;
  background-color: white;
  margin: 0px;
  box-shadow: 0px 0px 4px #DDD;
}
body.dark-theme #btn-toggle div {
  color: #555;
  border: solid 1px #222;
  background-color: black;
  box-shadow: 0px 0px 4px #222;
}
#btn-toggle div span {
  padding-left: 5px;
}
body.dark-theme #sun {
  color: #CCC;
}
#sun {
  color: var(--c1);
}
body.dark-theme #moon {
  color: var(--c2);
}

img.profile {
  margin-top: 70px;
  height: 160px;
  border: 1.5px solid black;
  border-radius: 50%;
}
body.dark-theme img.profile {
  border: 1.5px solid #DDD;
}

div.div-icon {
  padding-right: 80px;
}

a.a-icon {
  margin-right: 20px;
  text-decoration: none;
}

a.a-icon svg {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 33px;
  width: 35px;
  color: black;
}

body.dark-theme a.a-icon svg {
  height: 33px;
  width: 35px;
  color: white;
  fill: white;
}

a.a-icon:hover svg {
  fill: var(--c3);
  color: var(--c3);
  transition: all 0.3s ease 0s;
}

body.dark-theme a.a-icon:hover svg {
  fill: var(--c2);
  color: var(--c2);
  transition: all 0.3s ease 0s;
}


/* Format publication and code entries. */
.pub-entry {
  margin-top: 15px;
  margin-bottom: 22px;
  padding-top: 5px;
  transition: all 0.8s ease 0s;
  text-align: left;
  font-size: 12pt;
}

.pub-entry p {
  padding: 0px;
  text-align: left;
}

.pub-entry:hover p.pub-title {
  transition: all 0.8s ease 0s;
  color: var(--c1);
}

body.dark-theme .pub-entry:hover p.pub-title {
  color: var(--c2);
}

.pub-entry:hover .pub-author {
  color: inherit;
}

.pub-entry:hover {
  color: black;
}

body.dark-theme .pub-entry:hover {
  color: white;
}

.pub-entry:hover a {
  color: var(--c1);
}

body.dark-theme .pub-entry:hover a {
  color: var(--c2);
}

.pub-entry::marker {
  color: #999;
  font-size: 10pt;
}
.pub-entry:hover::marker {
  color: var(--c1);
}
body.dark-theme .pub-entry::marker {
  color: #777;
}
body.dark-theme .pub-entry:hover::marker {
  color: var(--c2);
}

.pub-entry a {
  text-decoration: none;
}

.pub-entry a:hover {
  text-decoration: underline;
}

p.pub-title {
  padding-top: 2px;
  padding-bottom: 6px;
  margin: 0px;
  text-align: left;
  font-size: 13pt;
  color: #222;
}

body.dark-theme p.pub-title {
  color: #EEE;
}

p.pub-title a {
  text-decoration: none;
  color: inherit;
}

.pub-after {
  font-size: 10pt;
  margin-right: 15px;
}
.pub-after a:hover {
  text-decoration: none;
}

.post-pub {
  margin-top: 18px;
  margin-bottom: 35px;
}

.post-pub a {
  font-size: 13pt;
  font-family: 'Gotham';
  font-weight: 500;
  padding-left: 0px;
  padding-top: 5px;
  color: var(--c1);
  text-decoration: none;
  transition: all 0.8s ease 0s;
}

body.dark-theme .post-pub a {
  color: var(--c2);
}

.post-pub a:hover {
  text-decoration: underline;
}

body.dark-theme .pub-honour {
  color: #DDD;
}

.fa-award {
  font-size: 10pt;
  color: var(--c1);
}
body.dark-theme .fa-award {
  color: var(--c2);
}


/* Code icons */

.little-icon i {
  color: var(--c1);
  font-size: 10pt;
}

body.dark-theme .little-icon i {
  color: var(--c2);
}


.footer {
  text-align: center;
  font-size: 10pt;
  margin-top: 100px;
  padding-bottom: 60px;
}



/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border: 5px solid var(--background-color);
  border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
  transition: all 0.8s ease 0s;
  border: 4px solid var(--background-color);
}



.pub-entry .aos-init .aos-animate {
  transition: all 0.8s ease 0s;
}

.altmetric-embed {
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
