
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@700&display=swap');

:root {
  color-scheme: light dark; /* both supported */
  --background-color: #F8F8F8;
  --c1: #3F1194;  /* dark accent */
  --c2: #60F3D6;
  --c3: #FF5656;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242526;
  }
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto 0px;
  padding: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: 300;
  font-size: 13pt;
  transition: 0.3s;
  color: #111;
  background-color: var(--background-color);
}
body.dark-theme {
  color: #DDD;
  background-color: var(--background-color);
}

b {
  /* Format all bolds */
  font-weight: 600;
}

p {
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
}
@media screen and (min-width: 600px) {
   p {
      text-align: justify;
   }
}

div.main {
  margin: 0 auto;
  width: 95%;
  max-width: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
}
div.pre-main {
  padding-left: 18px;
  padding-right: 5px;
}

h1 {
  margin-bottom: 16px;
  font-size: 55pt;
  font-weight: 200;
}

h2 {
  font-size: 35pt;
  padding-bottom: 15px;
  padding-top: 110px;
  color: var(--c1);
  font-weight: 600;
}
body.dark-theme h2 {
  color: var(--c2);
}

h3 {
  font-size: 26px;
  padding-top: 45px;
  padding-bottom: 0px;
}
h3 span {
  color: #333;
  font-weight: 200;
  font-size: 16pt;
  padding-bottom: 2px;
  display: inline-block;
}
body.dark-theme h3 span {
  color: #bbb;
}

a {
  color: var(--c1);
  cursor: pointer;
  transition: all 0.8s ease 0s;
}
a:hover {
  color: var(--c3);
}
body.dark-theme a {
  color: var(--c2);
  cursor: pointer;
  transition: all 0.8s ease 0s;
}
body.dark-theme a:hover {
  color: var(--c3);
}


#header {
  display: none;
}
@media screen and (min-width: 600px) {
  #header {
    display: inline-block;
    background-color: inherit;
    opacity: 0.95;
    margin: 0px;
    padding: 0px;
    z-index: 20;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.6s;
    max-height: 0px;
    overflow-y: hidden;
   }
}
div.post-header {
  margin: 0 auto;
  width: 95%;
  max-width: 800px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 11pt;
  font-weight: 400;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
div.post-header a {
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 17px;
  color: #111;
  transition: all 0.3s ease 0s;
}
body.dark-theme div.post-header a {
  color: #DDD;
 }
 div.post-header a:hover {
  color: var(--c1);
 }
 body.dark-theme div.post-header a:hover {
  color: var(--c2);
 }
 div.post-header a.head-first {
   font-weight: 700;
   font-size: 14pt;
   line-height: 20px;
   margin-left: 0px;
 }


#btn-toggle {
  padding-bottom: 40px;
}
#btn-toggle a div {
  font-size: 18pt;
  display: inline;
  vertical-align: middle;
  color: #CCC;
  transition: all 0.3s ease 0s;
  border: solid 1px #CCC;
  border-radius: 40px;
  padding: 5px;
  background-color: white;
}
body.dark-theme #btn-toggle div {
  color: #555;
  border: solid 1px #555;
  background-color: black;
}
#btn-toggle div span {
  padding-left: 5px;
}

img.profile {
  margin-top: 70px;
  height: 140px;
  border: 1.5px solid black;
  border-radius: 50%;
}
div.div-icon {
  padding-right: 80px;
}
a.a-icon {
  margin-right: 20px;
  text-decoration: none;
}

a.a-icon svg {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 33px;
  width: 35px;
  color: black;
}
body.dark-theme a.a-icon svg {
  height: 33px;
  width: 35px;
  color: white;
  fill: white;
}

a.a-icon:hover svg {
  fill: var(--c3);
  color: var(--c3);
  transition: all 0.3s ease 0s;
}
body.dark-theme a.a-icon:hover svg {
  fill: var(--c2);
  color: var(--c2);
  transition: all 0.3s ease 0s;
}


/* Format publication and code entries. */
p.pub-title {
  padding-top: 0px;
  padding-bottom: 3px;
  margin: 0px;
  text-align: left;
  font-size: 13pt;
  color: #111;
}
body.dark-theme p.pub-title {
  color: #EEE;
}
p.pub-title a {
  text-decoration: none;
  color: inherit;
}
p.pub-title b {
  font-weight: 700;
}

.pub-author {
  padding-top: 2px;
  padding-bottom: 0px;
  margin: 0px;
  font-size: 11.5pt;
  text-align: left;
  color: #444;
}
body.dark-theme .pub-author {
  color: #CCC;
}
.no-space-sub {
  padding-top: 0px;
  padding-bottom: 2px;
  margin: 0px;
  text-align: left;
  font-size: 11.5pt;
  color: #444;
}
body.dark-theme .no-space-sub {
  color: #CCC;
}
.no-space-sub a {
  text-decoration: none;
}
.no-space-sub a:hover {
  color: var(--c1);
}
p.pub-num {
  padding-top: 0px;
  padding-bottom: 2px;
  margin: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 800;
  color: #DDD;
}

.pub-entry {
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 8px;
  border-top: 1px #DDD solid;
  transition: all 0.8s ease 0s;
}
.pub-entry:hover {
  border-top: 3px var(--c1) solid;
  padding-top: 7px;
  margin-top: 29px;
  cursor: pointer;
}
body.dark-theme .pub-entry:hover {
  border-top: 5px var(--c2) solid;
}
.pub-entry:hover p.pub-title {
  transition: all 0.8s ease 0s;
  color: var(--c1);
}
body.dark-theme .pub-entry:hover p.pub-title {
  color: var(--c2);
}
.pub-entry:hover .pub-author {
  color: inherit;
}
.pub-entry:hover .no-space-sub {
  color: inherit;
}
.pub-entry:hover a {
  color: var(--c1);
}
.pub-entry:hover .no-space-sub a {
  text-decoration: underline;
}
body.dark-theme .pub-entry:hover a {
  color: var(--c2);
}
.pub-entry::marker {
  color: #999;
  font-weight: 200;
  font-size: 10pt;
  transition: all 0.3s ease 0s;
}
.pub-entry:hover::marker {
  color: var(--c1);
  font-weight: 600;
}
body.dark-theme .pub-entry::marker {
  color: #777;
}
body.dark-theme .pub-entry:hover::marker {
  color: var(--c2);
}
.post-pub {
  margin-bottom: 40px;
}
.post-pub a {
  font-size: 13pt;
  font-weight: 700;
  color: var(--c1);
  text-decoration: none;
  transition: all 0.8s ease 0s;
}
body.dark-theme .post-pub a {
  color: var(--c2);
}
.post-pub a:hover {
  text-decoration: underline;
}
.pub-honour {
  color: #111;
}
body.dark-theme .pub-honour {
  color: #DDD;
}
.fa-award {
  font-size: 10pt;
  color: #881111;
}


/* Code icons */
.little-icon {
  margin-left: 15px;
}
.little-icon i {
  color: var(--c1);
  font-size: 8pt;
}
body.dark-theme .little-icon i {
  color: var(--c2);
}


.footer {
  text-align: center;
  font-size: 10pt;
  margin-top: 100px;
  padding-bottom: 60px;
}



/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #E9E9E9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--c2);
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c3);
}



.pub-entry .aos-init .aos-animate {
  transition: all 0.8s ease 0s;
}

.altmetric-embed {
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

